<div>
    <label>Item</label>
    <input type="text" name="name" value="<%= item.name %>">
</div>
<div>
    <label>Date Posted</label>
    <input type="date" name="datePosted" 
        value="<%= item.datePosted == null ? '' : 
        item.datePosted.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Seller</label>
    <select name="seller">
        <% sellers.forEach(seller => { %>
            <% if (seller.id === item.seller) { %>
                <option selected label="<%= seller.name %>" value="<%= seller.id %>">
            <% } else { %>
                <option label="<%= seller.name %>" value="<%= seller.id %>">
            <% } %> 
        <% }) %>
    </select>
</div>
<div>
    <label>Price</label>
    <input type="number" name="price" min="0" value="<%= item.price %>">
</div>
<div>
    <label>Grade</label>
    <input type="number" name="grade" min="1" value="<%= item.grade %>">
</div>
<div>
    <label>cardText</label>
    <textarea name="cardText"><%= item.cardText %></textarea>
</div>
<div>
    <label>itemImage</label>
    <input type="file" name="itemImage">
</div>